
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bcbcbc13;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}



}
